@CHARSET "ISO-8859-1";

table
{ 	
	font-size: 20px;
	font-family: Times new roman;
	border:2px thick #0B615E;
	border-radius:5px;
	box-shadow:0px 5px 15px  #0B615E ;
	color:black;
}


input[type=text],[type=password],textarea
{	
	font-size: 20px;
	font-family: Times new roman;
	border:2px solid #0B615E ;
	border-radius:5px;
	height: 30px;
	width: 200px;
	color:black;
	box-shadow:0px 5px 15px  #0B615E;
}

textarea
{	
	font-size: 20px;
	font-family:Times new roman;
	border:2px solid #0B615E ;
	border-radius:5px;
	height: 70px;
	width: 200px;
	color:black;
	box-shadow:0px 5px 15px  #0B615E ;
}

input[type=radio]
{	font-size: 20px;
	font-family: Times new roman;
	color:black;
	height: 20px;
	}

input[type=submit],input[type=reset],input[type=button]
{
	font-size: 20px;
	background-color: white;
  	border-radius:5px;
  	border:2px solid #0B615E ; 
  	font-size:20px;
  	font-family:Times new roman;
  	color:black;
  	box-shadow:0px 5px 15px  #0B615E;
	height: 30px;
}

select
{
	font-family: Times new roman;
	font-size: 20px;
	border:2px solid #0B615E ;
	border-radius:5px;
	height: 30px;
	width: 65px;
	box-shadow:0px 5px 15px  #0B615E;
}

select.large
{
	font-family: Times new roman;
	font-size: 20px;
	border:2px solid #0B615E ;
	border-radius:5px;
	height: 30px;
	width: 200px;
	box-shadow:0px 5px 15px  #0B615E;
}

td
{
	font-size: 20px;
	font-family: Times new roman;
}

a:link {
	text-decoration:underline;
	font-size: 20px;
	font-family: Times new roman;
	color: #0B615E;
}

/* visited link */
a:visited {
	text-decoration:underline;
    font-size: 20px;
	font-family: Times new roman;
    color: #0B615E;
}

/* mouse over link */
a:hover {
	text-decoration:underline;
    font-size: 25px;
	font-family: Times new roman;
    color: blue;
}

/* selected link */
a:active {
	text-decoration:underline;
    font-size: 30px;
	font-family: Times new roman;
    color: blue;
}
